@model CSharpChallenge.Models.ProblemModel

<h4>Edit Problem:</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="EditProblem" method="post">
            <input type="hidden" asp-for="ProblemID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6">@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExampleTestCase" class="control-label"></label>
                <textarea asp-for="ExampleTestCase" class="form-control" rows="6">@Model.ExampleTestCase</textarea>
                <span asp-validation-for="ExampleTestCase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExampleTestCaseSolution" class="control-label"></label>
                <textarea asp-for="ExampleTestCaseSolution" class="form-control" rows="6">@Model.ExampleTestCaseSolution</textarea>
                <span asp-validation-for="ExampleTestCaseSolution" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
